:root {
	--interactable-highlight-color: #FB0;

	--highlight-color: rgb(229, 243, 255);
	--selected-color: rgb(219, 233, 250);

	--windows-bar-height: 24pt;

	--window-header-h-padding: 6pt;
	--window-header-v-padding: 2pt;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Tahoma;
	background: #FFF;
	color: #000;
}

.sending_input {
	filter: grayscale(.5);
	transition: filter .5s ease-in-out;
}

/* starting splashes */

.splash {
	position: fixed;
	z-index: 300;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh; /* calc(100vh - var(--row-height)); */
	background: rgba(0, 0, 0, 0.85);
	color: #FFF;

	display: none;
}

.splash.open {
	display: flex;
}

.splash > div {
	width: 50vw;
	/*height: 60vh;*/
	margin: auto;
	transform: translate(0, -50%);
}

.splash > div p {
	text-align: center;
	font-size: 36pt;
	margin-top: 0;
	margin-bottom: 0;
}

#load_toc #form_description {
	text-align: left;
}

.warning {
	color: var(--interactable-highlight-color);
	margin-top: 16pt !important;
}

#load_toc_warning {
	text-align: left;
	font-size: 20pt;
}

.splash > div form {
	margin-top: 24pt;
}

.splash input,
.sections_editor input {
	display: block;
	padding: 8pt; /* TODO */

	margin: 0 auto;
	margin-top: 10pt; /* TODO */

	width: calc(100% - 8pt*2 - 1px*2);
	border: 1px solid #CCC;

	font-size: 16pt;
}

.splash input:hover,
.sections_editor input:hover {
	border-color: var(--interactable-highlight-color);
}

.splash input[type="submit"],
.sections_editor input[type="submit"] {
	box-sizing: content-box;

	width: calc(90% - 8pt*2 - 2px*2);
	border: 2px solid #CCC; /* TODO */
	margin-top: 24pt; /* TODO */

	background: #000;
	color: #FFF;
	user-select: none;

	text-align: center;
	cursor: pointer;
}

.splash input[type="submit"]:hover,
.sections_editor input[type="submit"]:hover {
	border-color: var(--interactable-highlight-color);
	color: var(--interactable-highlight-color);
}

/**/

.button {
	display: block;
	max-width: calc(90vh - 8pt*2 - 2px*2);
	padding: 8pt; /* TODO */
	border: 2px solid #CCC; /* TODO */

	margin: 0 auto;
	margin-top: 12pt; /* TODO */

	background: #000;
	color: #FFF;
	font-size: 16pt;
	user-select: none;

	text-align: center;
	cursor: pointer;
}

.button:hover {
	border-color: var(--interactable-highlight-color);
	color: var(--interactable-highlight-color);
}

.button.small {
	align-self: right;
	width: 60pt;
	margin: 0;
	font-size: 12pt;
}

/**/

#editor {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	border: 0;

	overflow: hidden;
}

.workspace {
	display: flex;
	margin: 0;
	flex-wrap: wrap;
	flex-direction: column;
	height: 100vh;
}

#menu {
	display: flex;
	background: #EEE;
	height: 20pt;
	border: 0;
	border-bottom: 1px solid #CCC;
	width:  100vw;
	flex-grow: 0;
	flex-shrink: 0;

	display: none;
}

#columns {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	height: calc(100vh - var(--windows-bar-height));
	width: 100vw;
}

#left_column {
	display: flex;
	flex: 3 3 0;
	border: 0;
	border-right: 1px solid #CCC;
	max-width: calc(100% * 3 / 15);
}

#middle_column {
	display: flex;
	flex-direction: column;
	flex: 9 9 0;
	max-width: calc(100% * 9 / 15);
}

#right_column {
	display: flex;
	flex: 3 3 0;
	border: 0;
	border-left: 1px solid #CCC;
	padding: 10pt;
	max-width: calc(100% * 3 / 15);
}

/* middle column */

#main {
	display: flex;
	flex: 5 5 0;
	flex-direction: column;
	max-height: 62.5%;
}

#browser {
	display: flex;
	flex: 3 3 0;
	border: 0;
	border-top: 1px solid #CCC;	
}

/* main */

#search_form {
	display: block;
	height: 28pt;
	background: #EEE;
	padding: 2pt;
}

#search_form input {
	display: block;
	padding: 3pt;
	margin: 3pt;
	border: 1px solid #CCC;
	font-size: 12pt;
}

#search {
	width: 80%;
}

#results {
	display: block;
	padding: 6pt;
	overflow: auto;
	height: 100%;
}

.result_entry {
	padding: 2pt;
}

.result_entry.selected {
	background: var(--selected-color);
}

.result_entry:hover {
	background: var(--highlight-color);
}

.result_entry.selected:hover {
	background: var(--selected-color);
}

.result_entry b + span {
	margin-left: 10pt;
}

/* details */

#details {
	display: block;
	width: 100%;
	font-size: 10pt;
	word-break: break-all;
}

#details > b {
	font-size: 12pt;
}

#details > b + p {
	margin-top: 8pt;
	margin-bottom: 3pt;
}

#details > b + p + span {
	display: inline-block;
	margin-bottom: 6pt;
	color: #AAA;
}

#details hr {
	border: 1px solid #333;
	border-bottom: 0;
}

#details a {
	color: #0060BB;
	text-decoration: underline;
	display: block;
}

#details a:hover {
	color: #0080FF;
	cursor: pointer;
}

#details .links .separator {
	display: inline-block;
}

#details .links .separator::before {
	content: '----';
	color: #999;
}

/* models viewer */

.models_renderer {
	height: 100%;
}

/* sections viewer */

.sections_viewer {
	height: 100%;
	overflow-y: auto;
}

.sections_viewer > div {
	background: #FFF;
	color: #000;
	padding: 10pt;
}

.sections_viewer .header {
	margin-bottom: 20pt;
}

.sections_viewer .header .editor_button {
	float: right;
	color: #0060BB;
	text-decoration: underline;
}

.sections_viewer .header .editor_button:hover {
	color: #0080FF;
	cursor: pointer;
}

.sections_viewer .header > b {
	display: block;
	font-size: 22pt;
	margin-bottom: 5pt;
	margin-top: -3pt;
}

.sections_viewer .header > span {
	display: inline-block;
	margin: 0;
	margin-top: 4pt;
	margin-right: 4pt;
	border-radius: 3px;
	padding: 3pt;
	cursor: pointer;
}

.sections_viewer .content {
	overflow: auto;
}

.sections_viewer .spoiler {
	border: 1px solid #FFF;
	margin-bottom: 5pt;
	margin-right: 4pt;
}

.sections_viewer .spoiler.open {
	border: 1px solid #EEE;
}

.sections_viewer .spoiler > div:first-child {
	height: 20pt;
}

.sections_viewer .spoiler > div > span {
	display: inline-block;
	line-height: 14pt;
	margin: 3pt;
	vertical-align: top;
}

.sections_viewer .spoiler > div > span:first-child {
	width: 14pt;
	height: 14pt;
}

.sections_viewer .spoiler > div:first-child:hover {
	background: #EEE;
	cursor: pointer;
}

.sections_viewer .spoiler > div + * {
	display: none;
}

.sections_viewer .spoiler.open > div + * {
	display: block;
	margin: 4pt;
	overflow: auto;
}

.hex_view {
	font-family: monospace;
}

.hex_view th {
	font-weight: normal;
	user-select: none;
	padding-bottom: 4pt;
}

.hex_view td:first-child, .hex_view td:last-child {
	user-select: none;
}

.hex_view td:nth-child(2) {
	padding-left: 4pt;
	padding-right: 4pt;
}

/* sections editor */

.sections_editor {
	overflow-y: auto;
}

.sections_editor > div {
	display: table;
	padding: 10pt 0;
	min-height: calc(100% - 2*10pt);	
	background: #FFF;
	color: #000;
}

.sections_editor .original, .sections_editor .edited {
	display: table-cell;
	width: 50%;
	padding: 0 10pt;
	border: 0;
	position: relative;
	padding-bottom: 40pt;
}

.sections_editor .edited {
	border-left: 1px solid #CCC;
}

.sections_editor .header {
	margin-bottom: 10pt;
}

.sections_editor input {
	display: inline-block;
	width: 100pt;
	font-size: 11pt;
	padding: 2pt;
	margin-right: 10pt;
}

.sections_editor input[disabled] {
	background: #EEE;
	color: #666;
}

.sections_editor input[type="checkbox"] {
	width: auto;
	height: 12pt;
	margin-right: 6pt;
}

.sections_editor .section {
	display: block;
	padding: 5pt 10pt;
	margin: 0 -10pt;
}

.sections_editor .section:hover {
	background: #EEE;
}

.sections_editor .section > * {
	vertical-align: top;
}

.sections_editor .section > span:first-child {
	width: 14pt;
	height: 14pt;
	display: inline-block;
	margin-right: 10pt;
}

.sections_editor .section > a {
	float: right;
}

.sections_editor .bottom_button {
	display: block;
	width: calc(100% - 2*5pt - 2*10pt);
	padding: 5pt 5pt;
	text-align: center;
	color: #0060BB;
	text-decoration: underline;
	
	position: absolute;
	bottom: 0;
}

.sections_editor .bottom_button:hover {
	background: #EEE;
	/*color: #0080FF;*/
	cursor: pointer;
}

.sections_editor .edited .section {
	border: 0;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.sections_editor .edited .section.closed {
	border: 0;
}

.sections_editor .edited .section:hover {
	background: none;
}

.sections_editor .edited .section.closed:hover {
	background: #EEE;
}

.sections_editor .edited .section select {
	float: right;
}

.sections_editor .edited .section > .arrows {
	float: right;
	display: block;
	width: 30pt;
	min-height: 2pt;
}

.sections_editor .edited .section > .arrows > a {
	display: inline-block;
	width: 15pt;
	color: #0060BB;
	text-align: center;
}

.sections_editor .edited .section > .arrows > a:hover {
	color: #FF0080;
	cursor: pointer;
}

.sections_editor .edited .section > input[type="file"] {
	width: calc(100% - 2*2pt - 2*1px);
	margin-top: 8pt;
	margin-bottom: 4pt;
}

.sections_editor .edited .section > textarea {
	margin: 8pt 0 4pt 0;
	width: calc(100% - 2*2pt - 2*1px);
}

/* textures viewer */

.textures_viewer > div {
	height: 100%;
	background: #FFF;
	color: #000;
	display: flex;
	flex-direction: row;
}

.textures_viewer .preview, .textures_viewer .controls {
	display: flex;
	flex-direction: column;
	position: relative;
}

.textures_viewer .preview {
	width: 80%;
	background: #999;
	position: relative;
}

.textures_viewer .preview > img {
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	max-width: 100%;
	max-height: 100%;

	background: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
	background-repeat: repeat, repeat;
	background-position: 0px 0, 8px 8px;
	background-origin: padding-box, padding-box;
	background-clip: border-box, border-box;
	background-size: 16px 16px, 16px 16px;
}

.textures_viewer .controls {
	width: calc(20% - 2*10pt);
	padding: 10pt;
}

.textures_viewer .controls a {
	font-size: 10pt;
	margin-top: 5pt;
}

/**/

.hidden {
	display: none !important;
}

.interactable {
	cursor: pointer;
}

/**/

#settings_window {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	color: #FFF;

	display: none;

	--window-size: 80vh;
	--window-padding: calc(var(--window-size)*0.025);
	--window-header: calc(var(--window-size)*0.05);
	--option-padding-h: calc(var(--window-size)*0.01);
	--option-padding-v: calc(var(--window-size)*0.0125);
	--option-font: calc(var(--window-size)*0.02);
	--option-line-height: calc(var(--option-font)*2);

	--window-actual-size: calc(var(--window-size) - 2*var(--window-padding));
	--option-actual-size: calc(var(--window-actual-size) - 2*var(--option-padding-h));
}

#settings_window.open {
	display: flex;
}

#settings_window > div {

	width: var(--window-actual-size);
	min-height: var(--window-actual-size);
	padding: var(--window-padding);
	margin: auto;
	/* transform: translate(0, -25%); */

	background: #FFF;
	color: #000;
}

#settings_title {
	font-size: var(--window-header);
	text-align: center;
	margin-top: 0;
	margin-bottom: var(--window-padding);
}

.setting {
	display: block;
	margin: 0 calc(var(--window-padding)*-1);
	padding: var(--option-padding-v) calc(var(--window-padding) + var(--option-padding-h));
	font-size: var(--option-font);
}

.setting:hover {
	background: #FAFAFA;
}

.setting > * {
	display: inline-block;
	width: calc(var(--option-actual-size)*0.5);
	margin: 0;	
	border: 0;
	outline: 0;
	padding: 0;
	line-height: var(--option-line-height);
}

.setting > *:first-child {
	/* label */
	text-align: left;
}

.setting > *:last-child {
	/* select/input/whatever */
	box-sizing: content-box;
}

.setting > select:last-child {
	--inner-padding: calc(var(--option-padding-v)*0.5);

	border: 1px solid #CCC;
	width: calc(var(--option-actual-size)*0.5 - 1px*2 - var(--inner-padding)*2);
	height: calc(var(--option-line-height) - 1px*2 - var(--inner-padding)*2);
	padding: var(--inner-padding);
	font-size: var(--option-font);
}

.setting.hidden {
	display: none;
}

/* directories tree */

#left_column {
	margin: 0;
	padding: 0;
	flex-direction: column;
}

#left_column > div {
	padding: 0;
	margin: 0;

	overflow-x: auto;
	overflow-y: scroll;
}

#left_column > div > div {
	width: calc(100% - 2*5pt);
	padding: 5pt;
}

#left_column .separator {
	height: 1px;
	background: #CCC;
	display: block;
	margin: 2pt;
}

.entry {
	margin: 0 -5pt;
	padding: 1pt 5pt;
	user-select: none;
}

.entry > .fname {
	display: inline-block;
	width: calc(100% - 20pt);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.directory_contents {
	margin-left: 20pt;
}

.entry:hover {
	background: var(--highlight-color);
}

.entry.selected, .entry.selected:hover {
	background: var(--selected-color);
}

.entry.directory::before {
	content: '›';
	display: inline-block;
	transform: rotate(90deg);
	color: #444;
	font-size: 14pt;
	text-align: center;
	vertical-align: middle;				
	margin: 0 4pt;
	margin-top: -6pt;
	line-height: 0;
}

.entry.directory.closed::before {
	transform: rotate(0deg) translateX(-1pt);
	color: #AAA;
	margin-top: -8pt;
}

.entry.directory:hover::before {
	cursor: pointer;
	color: rgb(78, 208, 249);
}

.entry.directory.closed + .directory_contents {
	display: none;
}

#left_column .collapsible {
	border-top: 1px solid #CCC;
	max-height: 20vh;
	min-height: 70pt;

	overflow-x: hidden;
	overflow-y: hidden;
	flex-shrink: 0;
}

#left_column .collapsible > span {
	display: block;
	padding: 5pt 7pt;

	font-size: 11pt;
	font-weight: bold;
	text-transform: uppercase;
	color: #222;
	background: #EEE;
	height: 14pt;
}

#left_column .collapsible > span:hover {
	background: #FAFAFA;
	cursor: pointer;
}

#left_column .collapsible > .content {
	overflow-y: scroll;
	height: calc(100% - 2*5pt - 14pt - 2*5pt);
}

#left_column .collapsible.collapsed {
	min-height: calc(14pt + 2*5pt);
}

#left_column .collapsible.collapsed > .content {
	display: none;
}

#left_column .collapsible > .content > .empty_message {
	display: block;
	color: #CCC;
	text-align: center;
	padding: 10pt;
}

/* content browser */

#browser {
	flex-direction: column;
	max-height: 37.5%;
}

.breadcrumbs {
	display: flex;
	padding: 2pt 4pt;
	border: 0;
	border-bottom: 1px solid #CCC;
}

.breadcrumbs > .breadcrumb, .breadcrumbs > .separator {
	padding: 3pt;
	margin: 2pt;
	user-select: none;
}

.breadcrumb:hover {
	background: var(--highlight-color);
	cursor: pointer;
}

.breadcrumbs > .separator::before {
	content: '›';
}

.contents {
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	justify-content: space-evenly;
	padding-bottom: 6pt;
}

.contents > .directory, .contents > .file {
	width: 80pt;
	height: 70pt;
	padding: 2pt;
	display: inline-flex;
	font-size: 10pt;	
	margin-top: 6pt;
	user-select: none;
	position: relative;
}

.contents > .directory::before {
	content: ' ';
	width: 60pt;
	height: 40pt;
	padding: 0;
	position: absolute;
	margin: 1pt 10pt;
	background: #99d2f4;
}

.contents > .file::before {
	content: ' ';
	width: 30pt;
	height: 40pt;
	padding: 0;
	position: absolute;
	margin: 1pt 25pt;
	border: 1px solid #CCC;
	background: #F3F3F3;
}

.contents > .file.multiple::before {
	width: 24pt;
	height: 32pt;
	margin-left: 30pt;
	margin-top: 3pt;
}

.contents > .file.multiple::after {
	content: ' ';
	width: 24pt;
	height: 32pt;
	padding: 0;
	position: absolute;
	margin: 1pt 25pt;
	border: 1px solid #CCC;
	background: #FAFAFA;
	margin-top: 7pt;
	margin-left: 26pt;
}

.contents > .file.with_thumbnail::before {
	display: none !important;
}

.contents > .file.with_thumbnail::after {
	display: none !important;
}

.contents > .file.with_thumbnail > img {
	width: 40pt;
	height: 40pt;
	padding: 0;
	position: absolute;
	margin: 1pt 20pt;
	object-fit: contain;
	filter: drop-shadow(0px 0px 3px #999);
}

.contents > .file > .multiple_badge {
	position: absolute;
	margin: 1pt 25pt;
	background: #333;
	color: #FFF;
	margin-top: 30pt;
	margin-left: 46pt;
	z-index: 1;
	padding: 1pt;
	width: 11.5pt;
	height: 11.5pt;
	font-size: 8pt;
	text-align: center;
	line-height: 10pt;
}

.contents > .file.with_thumbnail > .multiple_badge {
	margin-left: 52pt;
}

.contents > .directory {

}

.contents > .file {

}

.contents > .directory:hover, .contents > .file:hover {
	background: var(--highlight-color);
	cursor: pointer;
}

.contents > .directory.selected, .contents > .file.selected,
.contents > .directory.selected:hover, .contents > .file.selected:hover {
	background: var(--selected-color);
}

.contents > .directory > span, .contents > .file > span {
	text-align: center;
	word-wrap: anywhere;
	margin-top: 46pt;
	text-overflow: ellipsis;
	height: 24pt;
	width: 80pt;
	overflow: hidden;
}

/* windows */

#windows {
	width: 100vw;
	height: calc(100vh - var(--windows-bar-height));
	overflow: hidden;
	position: relative;
}

.window {
	width: 100%;
	height: 100%;
	background: #FFF;

	position: absolute;
	left: 0;
	top: 0;

	display: flex;
	flex-direction: column;
}

.window.selected {
}

.window > .window_header {
	width: calc(100% - 2*var(--window-header-h-padding));
	height: var(--windows-bar-height);
	line-height: var(--windows-bar-height);
	background: #EEE;
	padding: var(--window-header-v-padding) var(--window-header-h-padding);
}

.window.selected > .window_header {
}

.window > .window_header > .window_header_button {
	margin: 0;
	margin-top: calc(0px - var(--window-header-v-padding));
	margin-right: calc(0px - var(--window-header-h-padding));
	margin-left: var(--window-header-h-padding);
	padding: var(--window-header-v-padding) var(--window-header-h-padding);
	background: none;
	display: block;
	width: var(--windows-bar-height);
	height: var(--windows-bar-height);
	float: right;
}

.window > .window_header > .window_header_button:hover {
	background: #CCC;
}

.window > .window_header > .window_header_button.close:hover {
	background: #E81123;
}

.window > .window_header > .window_header_button::before {
	display: block;
	text-align: center;
	color: #333;
}

.window > .window_header > .window_header_button.minimize::before {
	content: '\2212';
}

.window > .window_header > .window_header_button.close::before {
	content: "\00d7";
}

.window > .window_header > .window_header_button.close:hover::before {
	color: #FFF;
}

.window > .window_contents {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/**/

#windows_bar {
	display: flex;
	background: #333336;
	color: #FFF;
	height: var(--windows-bar-height);
	border: 0;
	width: 100vw;
	flex-grow: 0;
	flex-shrink: 0;
}

.window_button {
	display: inline-flex;
	max-width: 140pt;
	margin: 0;
	margin-left: 6pt;
	padding: 2pt 4pt;
	height: calc(var(--windows-bar-height) - 2*2pt);
	line-height: calc(var(--windows-bar-height) - 2*2pt);
	font-size: 11pt;
	flex-grow: 1;
}

.window_button > span {
	user-select: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.window_button:hover {
	background: rgba(255, 255, 255, 0.1);
}

.window_button.selected {
	background: rgba(255, 255, 255, 0.4);
}

.window_button.selected:hover {
	background: rgba(255, 255, 255, 0.5);
}
